@using DeveloperToolTip.Front.BlazorServer.Services
@using Radzen
@using Newtonsoft.Json;
@using System.Net.Http.Json;

@page "/classifiers/DeveloperRole"
@inject IRoleService _IRoleService
@inject DialogService _DialogService
@inject NotificationService NotificationService

<!-- DeveloperRole.razor -->

<h3>Developer Roles</h3>
<p></p>

<div class="row mb-3">
    <div class="col">
        <RadzenButton Icon="add" Text="Create Role" ButtonStyle="ButtonStyle.Primary" Click="@OpenCreateDialog" />
    </div>
</div>

@if (Roles != null && Roles.Any())
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true"  Data="@Roles" TItem="RoleDto" RowSelect="@OnRowSelect" class="rz-datagrid">
        <Columns>
            <RadzenDataGridColumn TItem="RoleDto" Property="Id" Title="Role ID" />
            <RadzenDataGridColumn TItem="RoleDto" Property="RoleName" Title="Role Name" />
            <RadzenDataGridColumn TItem="RoleDto" Title="Actions" TextAlign="TextAlign.Center">
                <Template Context="role">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Warning" Click="@(() => OpenEditDialog(role))" />
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => OpenDeleteDialog(role))" Style="margin-left: 10px;" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    <RadzenAlert AlertStyle="AlertStyle.Info" ShowIcon="true">
        No Roles available!
    </RadzenAlert>
}


