@page "/classifiers/TopicCategory"

@inject ICategoryService _ICategoryService
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject DialogService _DialogService
@inject IJSRuntime JSRuntime

<PageTitle>Topic Categories</PageTitle>

<div class="modo_-govco">
    <div class="seccion-principal">
        <h3>Topic Categories</h3>

        <div class="row mb-3">
            <div class="col">
                <RadzenButton Icon="add" Text="Add Category" ButtonStyle="ButtonStyle.Primary" Click="@OpenCreateDialog" />
            </div>
        </div>

        <div class="tabla-container">
            @if (Categories != null && Categories.Any())
            {
                <RadzenDataGrid AllowFiltering="true"
                                AllowColumnResize="true"
                                AllowAlternatingRows="false"
                                FilterMode="FilterMode.Advanced"
                                AllowSorting="true"
                                PageSize="5"
                                AllowPaging="true"
                               PagerHorizontalAlign="HorizontalAlign.Center"
                                ShowPagingSummary="true"
                                Data="@Categories"
                                TItem="TopicCategoryDto"
                                RowSelect="@OnRowSelect"
                                class="rz-datagrid">
                    <Columns>
                        <RadzenDataGridColumn TItem="TopicCategoryDto" Property="Id" Title="Category ID" />
                        <RadzenDataGridColumn TItem="TopicCategoryDto" Property="CategoryName" Title="Category Name" />
                        <RadzenDataGridColumn TItem="TopicCategoryDto" Title="Actions" TextAlign="TextAlign.Center">
                            <Template Context="category">
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Warning" Click="@(() => OpenEditDialog(category))" />
                                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => OpenDeleteDialog(category))" Style="margin-left: 10px;" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            }
            else
            {
                <RadzenAlert AlertStyle="AlertStyle.Info" ShowIcon="true">
                    No Categories available!
                </RadzenAlert>
            }
        </div>
    </div>
</div>
